/third-party
/.project
/.vagrant
/.vscode
/.settings
/cpu.pprof
/os-version-defs
/.make/
*.swp
.vimrc
.DS_Store
.idea
origin.iml
*.pyc
.tag*
.project
*.go~
tags
.envrc
authentication-operator
/cluster-authentication-operator-tests-ext
/cluster-authentication-operator-tests-ext.gz
telepresence.log
/test-output/
_output
