apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system:openshift:operator:authentication
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
roleRef:
  kind: ClusterRole
  name: cluster-admin  # TODO fix, this is madness
subjects:
- kind: ServiceAccount
  namespace: openshift-authentication-operator
  name: authentication-operator
